.custom-shape-divider-top-1643029172 {
    width: 100%;
}
.custom-shape-divider-top-1643029172 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 79px;
    
}
.custom-shape-divider-top-1643029172 .shape-fill {
    fill: #F4F4F4
}

.about {
    background: #fff;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.about__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about__header {
    margin-top: 120px;
}

.container {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 50px 0 100px;
    width: 100%;
    
}
.container__box {
    width: 300px;
    text-align: center;
}

.container__description-light {
    font-weight: 400;
    
}

.statistics {
    background:#F6FAFD;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;    
    box-shadow: 
    inset 0px 9px 6px -10px #CCC,
    inset 0px -9px 8px -10px #CCC; 
}

.statistics__box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:25px 0 15px;
    position: relative;
    text-align: center;
  
}

.statistics__number {
    font-size: 30px;
    position: relative;
    width: 250px;
    top:-30px;
}

.statistics__desc {
    font-weight: 500;
    position: relative;
    top:-30px;
    width: 250px;
}

.join-to {
    margin: 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-to__btn {
    margin-top: 30px;
    width:320px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(253, 211, 72);
    border-radius: 5px;
    border: 1px solid rgb(228, 175, 0);

}

.join-to__btn:hover {
    cursor: pointer;
}



@media only screen and (max-width: 1050px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__box {
        margin: 50px 0 50px;
    }


  }

@media only screen and (max-width: 900px) {
    .statistics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .statistics__box {
        margin: 10px;
    }
    .join-to__header {
        text-align: center;
    }
    .container__box {
        margin: 50px 0 50px;
    }

}


@media only screen and (max-width: 400px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .about__header {
        text-align: center;
        width: 80%;
    }

    .about__details {
       margin-top: 70px;
    }
    .container__box {
        margin: 50px 0 50px;
    }

    .shape-fill {
        display: none;
    }
    
    .statistics__box {
        margin-top: 30px;
    }

    .join-to__btn {
        width:250px;
    }
    
  }


