.form__container {
    margin: 50px auto;
    display: block;
    width: 450px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 8px 24px -9px rgba(66, 68, 90, 1);
    border-radius:10px;
}

.form__container-login {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form__container__nav {
    position: relative;
    top:35px;
}

.form__container__nav h3{
    margin: 0;
}

.form__container-login input {
    font-size: 1em;
    height: 45px;
    color: #777;
    width: 300px;
    border-radius: 5px;
    border: 1px solid lightgrey; 
    padding-left: 15px;
    margin-top: 30px;
}

.form__container-login input:focus {
    outline: none;
    color:black;
}

.form__container-login-pass-decription {
    font-size: 10px;
    color: gray;

}

.form__container-login-btn {
    margin-top: 30px;
    width:320px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(253, 211, 72);
    border-radius: 5px;
    border: 1px solid rgb(228, 175, 0);

}