.homepage__header {
    margin: 0;
    padding:0;
    width: 100%;
    height: 60vh;
    background:linear-gradient(to top,#f3f3f3,#ffffff);
    


}

.homepage__gradient {
    height: 100%;
    background:
    url(../img/gradient_right.png) top 40% right 20% no-repeat,
    url(../img/gradient_left.png) bottom -80% left 10% no-repeat;
   
}

.homepage__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage__logo-box h2, h3 {
    margin-bottom: 25px;
}


.homepage__logo-box__img {
    width: 180px;
    margin: 5px 0 50px
}

.homepage__logo-box-text {
    margin-top: -15px;
    color:rgb(55, 119, 238);
}

@media only screen and (max-width: 1200px) {
    .homepage__gradient {
        background:linear-gradient(to top,#f3f3f3,#ffffff);
    }
  }

@media only screen and (max-width: 600px) {
    .join-to__header {
        width: 80%;
    }
    .homepage__header {
        height: 70vh;
    }

  }
  
@media only screen and (max-width:500px) {
    .join-to__header {
        width: 80%;
    }

    .homepage__logo-box {
        text-align: center;
        margin:10px 25px 10px;
    }
    .homepage__header {
        height: 80vh;
    }

  }

    
@media only screen and (max-width:400px) {
  
    .homepage__header {
        height: 100vh;
    }

  }